<h1 class="text-3xl font-bold underline">
    This Month: <%= @last_months_transactions.sum(:amount) %>
</h1>
<h1 class="text-3xl font-bold underline">
    This Month: <%= @this_months_transactions.sum(:amount) %>
</h1>
